$black: #0c0c0c;
$white: #fff;
$yellow: #fdc66a;
$violet: #1f222c;
$gray: #333;
$lightgray: #666;
$grayblack: #111;
$lightblack: #131313;
$lighterblack: #141414;
$watermark: #181818;
$lightergray: #949494;
$red: #CD0000;
$gothamMedium: "Gotham-Medium";
$gothamBold: "Gotham-Bold";
$gothamBook: "Gotham-Book";